<a href="https://colab.research.google.com/github/echiino/scratchpad/blob/main/nb_2026_01_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/echiino/scratchpad
%run ./scratchpad/get_data.py

Cloning into 'scratchpad'...
remote: Enumerating objects: 30, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 30 (delta 4), reused 1 (delta 1), pack-reused 24 (from 1)
Receiving objects: 100% (30/30), 28.96 KiB | 706.00 KiB/s, done.
Resolving deltas: 100% (9/9), done.
Downloading course data...
Download complete
Extracting data files...
Data extracted

In [2]:
import urllib.request
import os
import zipfile
import os

def download_data(force=False):
    """Download and extract course data from Zenodo."""

    zip_path = 'data.zip'
    data_dir = './data'

    if not os.path.exists(zip_path) or force:
        print("Downloading course data...")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/18235955/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")

    if not os.path.exists(data_dir) or force:
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")

    return data_dir


if __name__ == "__main__":
    download_data()

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('/content/data/crimebystatecombinedwithunemployment.csv',
                 encoding = 'latin1')
df.head()

,state,unemployment,year,Population,violent total,Murder,rape,Robbery,Aggravated assault,property total,Burglary,Larceny theft,vehicle theft
0,AL,6.808,1976,3665000,388.8,15.1,21.7,96.0,256.0,3419.5,1170.0,1987.2,262.3
1,AL,7.325,1977,3690000,414.4,14.2,25.2,96.8,278.3,3298.2,1135.5,1881.9,280.7
2,AL,6.380,1978,3742000,419.1,13.3,25.5,99.1,281.2,3519.7,1229.3,1987.9,302.5
3,AL,7.158,1979,3769000,413.3,13.2,27.5,109.5,263.1,3830.5,1287.3,2223.2,320.1
4,AL,8.867,1980,3861466,448.5,13.2,30.0,132.1,273.2,4485.1,1526.7,2642.2,316.2

In [7]:
print("\n head:")
print(df.head())

print("\n tail:")
print(df.tail())

print("\n types:")
print(df.dtypes)

print("\n shape:")
print(df.shape)

print("\n columns:")
print(df.columns)

 head:
  state  unemployment  year  Population  violent total  Murder  rape  Robbery  \
0    AL         6.808  1976     3665000          388.8    15.1  21.7     96.0
1    AL         7.325  1977     3690000          414.4    14.2  25.2     96.8
2    AL         6.380  1978     3742000          419.1    13.3  25.5     99.1
3    AL         7.158  1979     3769000          413.3    13.2  27.5    109.5
4    AL         8.867  1980     3861466          448.5    13.2  30.0    132.1

   Aggravated assault  property total  Burglary  Larceny theft  vehicle theft
0               256.0          3419.5    1170.0         1987.2          262.3
1               278.3          3298.2    1135.5         1881.9          280.7
2               281.2          3519.7    1229.3         1987.9          302.5
3               263.1          3830.5    1287.3         2223.2          320.1
4               273.2          4485.1    1526.7         2642.2          316.2

 tail:
     state  unemployment  year  Population  violent total  Murder  rape  \
1984    WY         6.458  2010      564554          197.9     1.4  28.7
1985    WY         5.808  2011      567356          219.4     3.2  25.7
1986    WY         5.317  2012      576626          201.3     2.4  26.7
1987    WY         4.725  2013      583223          207.8     2.9  24.7
1988    WY         4.158  2014      584153          195.5     2.7  21.6

      Robbery  Aggravated assault  property total  Burglary  Larceny theft  \
1984     13.6               154.1          2456.6     381.0         1970.8
1985     12.5               178.0          2269.8     328.5         1849.5
1986     10.6               161.6          2293.0     368.5         1823.2
1987     12.7               157.2          2196.2     335.4         1761.8
1988      9.1               153.9          1964.7     289.1         1572.4

      vehicle theft
1984          104.9
1985           91.8
1986          101.3
1987           99.1
1988          103.2

 types:
state                  object
unemployment          float64
year                    int64
Population              int64
violent total         float64
Murder                float64
rape                  float64
Robbery               float64
Aggravated assault    float64
property total        float64
Burglary              float64
Larceny theft         float64
vehicle theft         float64
dtype: object

 shape:
(1989, 13)

 columns:
Index(['state', 'unemployment', 'year', 'Population', 'violent total',
       'Murder', 'rape', 'Robbery', 'Aggravated assault', 'property total',
       'Burglary', 'Larceny theft', 'vehicle theft'],
      dtype='object')

In [13]:
df['Murder'].describe()

count    1989.000000
mean        6.651785
std         6.560408
min         0.200000
25%         3.200000
50%         5.400000
75%         8.400000
max        80.600000
Name: Murder, dtype: float64