<a href="https://colab.research.google.com/github/echiino/scratchpad/blob/main/nb_2026_02_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/echiino/scratchpad
%run ./scratchpad/get_data.py

Cloning into 'scratchpad'...
remote: Enumerating objects: 33, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 33 (delta 10), reused 5 (delta 5), pack-reused 19 (from 1)
Receiving objects: 100% (33/33), 32.86 KiB | 4.69 MiB/s, done.
Resolving deltas: 100% (11/11), done.
Downloading course data...
Download complete
Extracting data files...
Data extracted

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import MinMaxScaler

def minmax(x):
    u = (x-min(x))/(max(x)-min(x))
    return u

df = pd.read_csv('/content/data/cars_env.csv')
df.head()

,veh id,manufacturer,nameplate,model,CVCM class,EPA class,fleet type,fuel type,footprint,baseline price,baseline mpg,baseline sales,predicted mpg
0,1,HONDA,Acura,MDX 4WD,11,SUV,T,G,50.8,45706.20000,22.052700,57380.0,23.011100
1,2,HONDA,Acura,RDX,11,SUV,T,G,45.1,34588.20000,24.174500,21271.0,26.457747
2,3,HONDA,Acura,RL,4,MIDSIZE CARS,C,G,47.6,47934.90000,24.562900,5132.0,23.773800
3,4,HONDA,Acura,TL,4,MIDSIZE CARS,C,G,47.8,35217.81622,27.068237,56720.0,26.884192
4,5,HONDA,Acura,TSX,3,COMPACT CARS,C,G,46.0,29483.10000,29.855173,21996.0,31.871653

In [14]:
df['EPA class'].value_counts()

EPA class
SUV                       160
SUBCOMPACT CARS            77
MIDSIZE CARS               65
STANDARD PICKUP TRUCKS     53
COMPACT CARS               47
LARGE CARS                 37
TWO SEATERS                27
SMALL PICKUP TRUCKS        18
SMALL STATION WAGONS       15
VANS                       13
MINIVAN                     7
MIDSIZE STATION WAGONS      5
Name: count, dtype: int64

In [30]:
y = df['EPA class']
x = df.loc[:, ['footprint', 'baseline price']]
u = x.apply(MinMaxScaler)

x.describe()

        footprint  baseline price
count  524.000000    5.240000e+02
mean    49.427847    5.165181e+04
std      7.915366    8.968875e+04
min     36.692097    1.178304e+04
25%     44.200000    2.521127e+04
50%     47.262519    3.253602e+04
75%     52.598319    5.098088e+04
max     77.500000    1.734000e+06

In [32]:
scaler = MinMaxScaler()
u = scaler.fit_transform(x)
model = KNeighborsClassifier(n_neighbors = 5)
model = model.fit(u,y)
y_hat = model.predict(u)

In [33]:
pd.crosstab(y, y_hat)
# pd.crosstab(y, y_hat, margins=True, normalize=True)

col_0,COMPACT CARS,LARGE CARS,MIDSIZE CARS,MINIVAN,SMALL PICKUP TRUCKS,SMALL STATION WAGONS,STANDARD PICKUP TRUCKS,SUBCOMPACT CARS,SUV,TWO SEATERS,VANS
EPA class,,,,,,,,,,,
COMPACT CARS,26,1,5,0,0,3,0,4,8,0,0
LARGE CARS,2,27,2,0,0,0,0,0,6,0,0
MIDSIZE CARS,2,5,39,0,1,0,0,5,13,0,0
MIDSIZE STATION WAGONS,0,1,2,0,0,0,0,1,1,0,0
MINIVAN,0,0,1,5,0,0,0,0,1,0,0
SMALL PICKUP TRUCKS,0,0,1,2,15,0,0,0,0,0,0
SMALL STATION WAGONS,3,0,0,0,0,8,0,1,3,0,0
STANDARD PICKUP TRUCKS,0,0,0,0,0,0,51,0,2,0,0
SUBCOMPACT CARS,5,0,3,0,0,3,0,57,8,1,0
SUV,5,11,10,0,2,0,1,6,125,0,0
TWO SEATERS,1,4,0,0,0,2,0,9,1,10,0
VANS,0,0,0,0,0,0,2,0,0,0,11